.bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include mobile{
    background-position: 90%;
  }


  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
                    90deg,
                    rgba(10,10,10,0.96) 0%,
                    rgba(10,10,10,0.75) 50%,
                    rgba(10,10,10,0.9) 100%
    );
    z-index: 1;
  }


  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
            linear-gradient(45deg, rgba(255,255,255,0.1) 1px, transparent 1px),
            linear-gradient(-45deg, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 30px 30px;
    z-index: 2;
    mask-image: radial-gradient(circle at 70% 50%, black 30%, transparent 70%);
  }
}


.bg--2 {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
  top: 0;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
  }


  &::before {
    content: '';
    opacity: 0.5;
    position: absolute;
    inset: 0;
    background-image:
            linear-gradient(45deg, rgba(255,255,255,0.1) 1px, transparent 1px),
            linear-gradient(-45deg, rgba(255,255,255,0.1) 1px, transparent 1px);
    background-size: 30px 30px;
    z-index: 2;
    mask-image: radial-gradient(circle at 70% 50%, black 30%, transparent 70%);
  }
}